Nama saya adalah Michael Raditya Krisnadhi. Saya saat ini sedang berkuliah di Universitas Sebelas Maret jurusan Informatika Fakultas Teknologi Informasi dan Sains Data.

Saya memiliki berbagai pengalaman organisasi.

Pada Januari 2019, saya memegang jabatan sebagai kepala departemen pengembangan teknologi di Himpunan Mahasiswa Informatika. Tugas saya di sana adalah memimpin rapat divisi, merancang proker, bonding rutin supaya menjalin kekeluargaan, dan menyusun laporan mingguan.

Kemudian saya juga memiliki berbagai macam pengalaman kepanitiaan.

Pada mar 2019 sampai des 2019, saya menjadi koordinator divisi teknologi untuk PINGFEST. Tugas saya di sana adalah memimpin rapat, membuat website untuk sistem ticketing, dan memimpin pembuatan soal.

Lalu pada jul 2020 sampai sekarang, saya memegang jabatan sebagai kepala divisi operasional dan publikasi di KPR FMIPA UNS. Tugas saya di sana adalah mengembangkan website untuk sistem pemilihan, dan mengelola media sosial.

